.help-types {
  &__container {
    margin-top: 150px;
    margin-bottom: 10rem;

    & > p {
      margin-top: -10px;
      margin-bottom: 30px;
      color: #565860;
    }

    button {
      margin-top: 100px;
      font-weight: 500;
      background: linear-gradient(to right, #db4558, #876ca6);
      border: none;
      font-size: 16px;
      padding: 12px 32px;
      color: #fff;
      border-radius: 10px;
      font-weight: 600;
      letter-spacing: 1px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: all 0.3s;

      &:hover {
        box-shadow: 0 0 10px #db4558;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__block {
    display: flex;
    align-items: center;
    color: #d0d6e1;
    font-weight: 600;
    font-size: 18px;
    gap: 20px;
    cursor: pointer;

    &.active > .icon-container {
      background-color: #956296;
      border-color: #956296;
    }

    &.active > p {
      color: #4b5068;
      font-weight: 800;
    }

    p {
      width: 100px;
      text-align: start;
    }

    .icon-container {
      border: 2px solid #d0d6e1;
      display: flex;
      height: 80px;
      width: 80px;
      border-radius: 15px;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;

      img {
        height: 50px;
        width: 50px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .help-types {
    &__block {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p {
        width: 100px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .help-types {
    &__list {
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 560px) {
  .help-types {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 20px;
    }
  }
}
