.App {
  text-align: center;
  width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1150px) {
  .App {
    width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .App {
    width: auto;
  }
}

@media screen and (max-width: 650px) {
  .App {
    width: auto;
  }
}
